In [1]:
# Essential imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#importing the dataset
data = pd.read_csv("Production Data Cleaned.csv")

In [3]:
# Previewing the first five rows of the dataset
data.head()

,DATE,NUMBER OF DRUM(QTY),RATE,AMOUNT,EXPENSES ANALYSIS,PRODUCTION COST,RETURNS
0,02/01/2023,6 DRUMS,20000,120000,LABOUR PAYMENT FOR PRODUCTION,67450.0,52550
1,02/01/2023,1 DRUM MCFDS,10000,10000,NaN,NaN,10000
2,01/03/2023,6 DRUMS,23000,138000,LABOUR PAYMENT FOR PRODUCTION,51200.0,86800
3,02/03/2023,6 DRUMS,20000,120000,LABOUR PAYMENT FOR PRODUCTION,63450.0,56550
4,08/03/2023,5 GALLONS,19000,95000,LABOUR PAYMENT FOR PRODUCTION,64140.0,30860

In [4]:
# Previewing the last five rows of the dataset
data.tail()

,DATE,NUMBER OF DRUM(QTY),RATE,AMOUNT,EXPENSES ANALYSIS,PRODUCTION COST,RETURNS
42,29/03/2023,7 GALLONS,17000,119000,LABOUR PAYMENT FOR PRODUCTION,64800.0,54200
43,29/06/2023,7 GALLONS,16000,112000,LABOUR PAYMENT FOR PRODUCTION,111000.0,1000
44,30/03/2023,6 GALLONS,17000,102000,LABOUR PAYMENT FOR PRODUCTION,48550.0,53450
45,30/05/2023,5 GALLONS,17000,85000,LABOUR PAYMENT FOR PRODUCTION,59900.0,25100
46,30/08/2023,6 GALLONS,20000,120000,LABOUR PAYMENT FOR PRODUCTION,72900.0,47100

In [5]:
# Getting a general summary information on the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE                 47 non-null     object
 1   NUMBER OF DRUM(QTY)  47 non-null     object
 2   RATE                 47 non-null     int64
 3   AMOUNT               47 non-null     int64
 4   EXPENSES ANALYSIS    44 non-null     object
 5   PRODUCTION COST      44 non-null     float64
 6   RETURNS              47 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.7+ KB

### From the above, it can be seen that the data has 47 entries or rows between 0 - 46 as well as 7 columns between 0 -6.
### We need to convert the 'RETURNS' and 'PRODUCTION COST' columns respectively into `int64` objects respectively.

In [9]:
# Remove negative signs from the 'Numbers' column
data['RETURNS'] = data['RETURNS'].str.replace('-', '')
data['RETURNS'] = data['RETURNS'].str.replace(' ', 0)

# Converting and replacing back into the main dataframe
data['RETURNS'] = data['RETURNS'].astype('int64')
data['PRODUCTION COST'] = data['PRODUCTION COST'].astype('int64')

TypeError: repl must be a string or callable